@layer wp-ui-utilities, wp-ui-components, wp-ui-compositions, wp-ui-overrides;

@layer wp-ui-components {
	.root {
		display: flex;
		flex-direction: column;
		gap: var(--wpds-dimension-gap-2xs);
		border: 0;
		margin: 0;
		padding: 0;
	}
}
