@use "@wordpress/base-styles/colors" as *;
@use "@wordpress/base-styles/variables" as *;

.fields-controls__featured-image-image,
.fields-controls__featured-image-placeholder {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: $radius-medium;
}

.fields-controls__featured-image-placeholder {
	box-shadow: none;
	background: $gray-100;
}
