/**
 * Editor and frontend styles for the Icon Block.
 */

/* Icon Block styles. */
.wp-block-icon {
	line-height: 0;

	&.aligncenter {
		display: flex;
		justify-content: center;
	}

	svg {
		box-sizing: border-box;
		width: 100%;
		height: 100%;
		fill: currentColor;
	}
}
