@use "@wordpress/base-styles/colors" as *;
@use "@wordpress/base-styles/variables" as *;
@use "@wordpress/base-styles/mixins" as *;
@use "@wordpress/base-styles/breakpoints" as *;
@use "@wordpress/base-styles/animations" as *;
@use "@wordpress/base-styles/z-index" as *;

@use "./reset";

.playground {
	img {
		max-width: 100%;
		height: auto;
	}

	iframe {
		width: 100%;
	}
}

.playground__content {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	@include break-small() {
		right: $sidebar-width;
	}
}

.playground__sidebar {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	width: $sidebar-width;
	border-left: $border-width solid $gray-300;
	height: auto;
	overflow: auto;
	-webkit-overflow-scrolling: touch;

	// Temporarily disable the sidebar on mobile
	display: none;
	@include break-small() {
		display: block;
	}
}
