.editor-sync-connection-modal__container {
	align-items: center;
	display: flex;
	margin: auto;
	max-width: 30rem;
}

.editor-sync-connection-modal__description {
	font-size: 1.3rem;
	text-align: center;
}
