@use "@wordpress/theme/src/prebuilt/css/design-tokens.css" as *;
@use "@wordpress/admin-ui/build-style/style.css" as *;
@use "@wordpress/base-styles/mixins" as *;
@use "@wordpress/base-styles/variables" as *;

// Fix issue with wp-admin menu not scrolling between 170% and 200% zoom.
#wpwrap {
	background: var(--wpds-color-fg-content-neutral, #1e1e1e);
	overflow-y: auto;
	@include break-medium() {
		overflow-y: initial;
	}
}

body:has(.boot-layout-container) {
	@include wp-admin-reset( ".boot-layout-container" );
}

.boot-layout-container .boot-layout {
	// On mobile the main content area has to scroll, otherwise you can invoke
	// the overscroll bounce on the non-scrolling container, for a bad experience.
	@include break-small {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		min-height: calc(100vh - #{$admin-bar-height-big});
	}

	// The WP header height changes at this breakpoint.
	@include break-medium {
		min-height: calc(100vh - #{$admin-bar-height});

		body:has(.boot-layout.has-full-canvas) & {
			min-height: 100vh;
		}
	}

	img {
		max-width: 100%;
		height: auto;
	}
}

.boot-layout .components-editor-notices__snackbar {
	position: fixed;
	right: 0;
	bottom: 16px;
	padding-left: 16px;
	padding-right: 16px;
}
