@use "@wordpress/theme/src/prebuilt/css/design-tokens.css" as *;
@use "@wordpress/admin-ui/build-style/style.css" as *;
@use "@wordpress/base-styles/mixins" as *;
@use "@wordpress/base-styles/variables";

// Reset wp-admin layout styles when loaded inside wp-admin.
.boot-layout-container .boot-layout {
	height: calc(100vh - #{variables.$admin-bar-height});
}

body:has(.boot-layout-container) {
	background: #1d2327; // Same as WP-Admin sidebar
	overflow: hidden;
}

#wpcontent {
	padding-left: 0;
}

#wpbody-content {
	padding-bottom: 0;
}

#wpfooter {
	display: none;
}

body:has(.boot-layout.has-full-canvas) {
	@include break-medium {
		// Reset the html.wp-topbar padding.
		// Because this uses negative margins, we have to compensate for the height.
		margin-top: - variables.$admin-bar-height;
		height: calc(100% + #{ variables.$admin-bar-height });

		#adminmenumain,
		#wpadminbar {
			display: none;
		}

		#wpcontent,
		#wpfooter {
			margin-left: 0;
		}
	}
}
