@use "@wordpress/base-styles/variables" as *;

.wp-block-playlist-track {
	border-bottom: 1px solid color-mix(in srgb, currentColor 20%, transparent);
	padding: $grid-unit-10;

	.wp-block-playlist-track__button {
		display: flex;
		flex-wrap: wrap;
		height: auto;
		min-width: 100%;
		padding: 0;
		font-size: 14px;
		font-family: inherit;
		text-align: left; // Override default button text-align.
		line-height: 1.5;
		background-color: transparent;
		color: inherit;
		border: 0;
		border-radius: 1px;
		outline-offset: 2px;

		span {
			margin-right: $grid-unit-10;
		}
		.wp-block-playlist-track__length {
			margin-left: auto;
		}
		&[aria-current="true"] {
			font-weight: 600;
		}
	}
}
