@use "@wordpress/base-styles/colors" as *;
@use "@wordpress/base-styles/variables" as *;

.editor-revisions-header__slider {
	width: 100%;

	.components-range-control__tooltip {
		white-space: nowrap;
	}
}

.editor-revisions-header__no-revisions {
	color: $gray-700;
	font-size: $default-font-size;
}

.editor-revisions-canvas__loading {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}
