@layer wp-ui-utilities, wp-ui-components, wp-ui-compositions, wp-ui-overrides;

@layer wp-ui-utilities {
	.label {
		--wp-ui-field-label-line-height: var(--wpds-font-line-height-xs);

		font-family: var(--wpds-font-family-body);
		font-size: var(--wpds-font-size-xs);
		line-height: var(--wp-ui-field-label-line-height);
		font-weight: var(--wpds-font-weight-medium);
		text-transform: uppercase;
		color: var(--wpds-color-fg-content-neutral);

		&.is-plain {
			font-size: var(--wpds-font-size-md);
			text-transform: none;
		}
	}

	.description {
		margin: 0;
		font-family: var(--wpds-font-family-body);
		font-size: var(--wpds-font-size-sm);
		line-height: var(--wpds-font-line-height-xs);
		color: var(--wpds-color-fg-content-neutral-weak);
	}
}
