@use "@wordpress/base-styles/colors" as *;
@use "@wordpress/base-styles/mixins" as *;
@use "@wordpress/base-styles/variables" as *;

.components-panel__header.editor-sidebar__panel-tabs {
	padding-left: 0;
	padding-right: $grid-unit-10;

	.components-button.has-icon {
		padding: 0;

		@include break-medium() {
			display: flex;
		}
	}
}

.editor-post-summary .components-v-stack:empty {
	display: none;
}

.editor-sidebar {
	@include reset;

	&__revisions-block-message {
		padding: $grid-unit-20;
		color: $gray-700;
		font-size: $default-font-size;
	}
}
