@use "@wordpress/base-styles/variables" as *;
@use "@wordpress/base-styles/colors" as *;

.components-notices__dismissible,
.components-notices__pinned {
	color: $gray-900;

	.components-notice {
		box-sizing: border-box;
		border-bottom: $border-width solid rgba(0, 0, 0, 0.2);
		padding: 0 $grid-unit-15;

		// Min-height matches the height of a single-line notice with an action button.
		min-height: $header-height;

		// Margins ensure that the dismiss button aligns to the center of the first line of text.
		.components-notice__dismiss {
			margin-top: $grid-unit-15;
		}
	}
}
