.wp-block-tabs-menu {
	display: flex;
	align-items: flex-end;
	min-width: fit-content;
	border-bottom-width: 1px; // A default border divider between the tabs-menu and the tab-panel
	border-bottom-style: solid;
	border-bottom-color: #000;
}
