@use "@wordpress/base-styles/colors" as *;
@use "@wordpress/base-styles/variables" as *;

.edit-site-styles {
	.global-styles-ui-screen-root {
		box-shadow: none;
		& > div > hr {
			display: none;
		}
	}
	.global-styles-ui-sidebar__navigator-provider {
		.components-tools-panel {
			border-top: none;
		}
		overflow-y: auto;
		padding-left: 0;
		padding-right: 0;
	}
	.edit-site-sidebar-button {
		color: $gray-900;
	}
}

