@use "@wordpress/base-styles/colors" as *;
@use "@wordpress/base-styles/variables" as *;

.edit-site-post-list__featured-image {
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.edit-site-post-list__featured-image-wrapper {
	height: 100%;
	width: 100%;
	border-radius: $grid-unit-05;

	&.is-layout-table:not(
	:has(.edit-site-post-list__featured-image-button)
),
	&.is-layout-table .edit-site-post-list__featured-image-button {
		width: $grid-unit-40;
		height: $grid-unit-40;
		display: block;
		border-radius: $grid-unit-05;
		position: relative;
		overflow: hidden;
		background-color: $gray-100;
		flex-grow: 0 !important;

		&::after {
			border-radius: 4px;
			box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
			content: "";
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
		}
	}
}

.edit-site-post-list__featured-image-button {
	box-shadow: none;
	border: none;
	padding: 0;
	background-color: unset;
	box-sizing: border-box;
	cursor: pointer;
	overflow: hidden;
	height: 100%;
	width: 100%;
	border-radius: $grid-unit-05;

	&:focus-visible {
		box-shadow:
			0 0 0 var(--wp-admin-border-width-focus)
			var(--wp-admin-theme-color);
		// Windows High Contrast mode will show this outline, but not the box-shadow.
		outline: 2px solid transparent;
	}
}

.dataviews-view-grid__card.is-selected {
	.edit-site-post-list__featured-image-button::after {
		box-shadow:
			inset 0 0 0 var(--wp-admin-border-width-focus)
			var(--wp-admin-theme-color);
		background: rgba(var(--wp-admin-theme-color--rgb), 0.04);
	}
}

.edit-site-post-list__status-icon {
	height: $grid-unit-30;
	width: $grid-unit-30;
	svg {
		fill: currentColor;
		margin-left: -$grid-unit-05;
	}
}

.fields-controls__password {
	border-top: $border-width solid $gray-200;
	padding-top: $grid-unit-20;
}

.dataviews-action-modal__quick-edit {
	justify-content: flex-end;
	align-items: stretch;

	.components-modal__frame {
		margin: $grid-unit-20 $grid-unit-20 $grid-unit-20 0;
		height: calc(100% - #{$grid-unit-20 * 2});
		max-height: calc(100% - #{$grid-unit-20 * 2});
		max-width: 400px;
		border-radius: $radius-large;
		position: relative;
		animation-name: none;

		@media (prefers-reduced-motion: no-preference) {
			animation-name: quick-edit-slide-in-right;
			animation-duration: 0.2s;
			animation-timing-function: ease-out;
		}
	}

	&.is-animating-out .components-modal__frame {
		animation-name: none;

		@media (prefers-reduced-motion: no-preference) {
			animation-name: quick-edit-slide-out-right;
			animation-duration: 0.2s;
			animation-timing-function: ease-out;
		}
	}

	.components-modal__content {
		display: flex;
		flex-direction: column;
		overflow: hidden;
		padding: 0;

		> * {
			display: flex;
			flex-direction: column;
			flex: 1;
			min-height: 0;
		}
	}

	.dataviews-action-modal__quick-edit-header {
		padding: $grid-unit-30 $grid-unit-30 0;
	}

	.dataviews-action-modal__quick-edit-content {
		flex: 1;
		min-height: 0;
		overflow-y: auto;
		padding-top: $grid-unit-20;

		.dataforms-layouts__wrapper {
			flex: 1;
			padding: 0 $grid-unit-30 $grid-unit-05; // Horizontal + bottom space for focus ring
		}
	}

	.dataviews-action-modal__quick-edit-footer {
		position: sticky;
		bottom: 0;
		flex-shrink: 0;
		padding: $grid-unit-20 $grid-unit-30 $grid-unit-30;

		.components-button {
			flex: 1;
			justify-content: center;
		}
	}
}

@keyframes quick-edit-slide-in-right {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(0);
	}
}

@keyframes quick-edit-slide-out-right {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(100%);
	}
}
