@layer wp-ui-utilities, wp-ui-components, wp-ui-compositions, wp-ui-overrides;

@layer wp-ui-components {
	.positioner {
		z-index: var(--wp-ui-tooltip-z-index, initial);
	}

	.popup {
		background-color: var(--wpds-color-bg-surface-neutral-strong);
		padding:
			var(--wpds-dimension-padding-xs)
			var(--wpds-dimension-padding-sm);
		border-radius: var(--wpds-border-radius-sm);
		font-family: var(--wpds-font-family-body);
		font-size: var(--wpds-font-size-sm);
		line-height: 1.4; /* TODO: use DS token for line height */
		color: var(--wpds-color-fg-content-neutral);
		box-shadow: var(--wpds-elevation-small);
	}
}
