@use "@wordpress/base-styles/mixins";
@use "@wordpress/base-styles/variables";
@use "@wordpress/base-styles/colors";

// Fixed height for the modal footer.
// Ensures that the footer is always visible when the modal content is scrollable.
$footer-height: 70px;

.font-library-modal {
	// @todo If a new prop is added to the Modal component that constrains
	// the content width, we should use that prop instead of this style.
	// see https://github.com/WordPress/gutenberg/issues/54471.
	&.font-library-modal {
		@include mixins.break-medium() {
			width: 65vw;
		}
	}

	.components-modal__header {
		border-bottom: none;
	}

	.components-modal__content {
		padding-top: 0;
		margin-bottom: $footer-height;
	}

	.font-library-modal__subtitle {
		text-transform: uppercase;
		font-weight: variables.$font-weight-medium;
		font-size: 11px;
	}

	// Add padding so the focus state outline (box-shadow) of font list items is visible
	.components-navigator-screen {
		padding: 3px;
	}
}

.font-library-modal__tabpanel-layout {
	margin-top: variables.$grid-unit-40;

	.font-library-modal__loading {
		width: 100%;
		height: 100%;
		display: flex;
		position: absolute;
		left: 0;
		top: 0;
		align-items: center;
		justify-content: center;
		// Push down so that the progress bar is centered vertically.
		// It should be 120px (72px modal header height + 48px tab height)
		padding-top:
			variables.$header-height + variables.$grid-unit-15 +
			variables.$grid-unit-60;
	}
}

.font-library-modal__footer {
	border-top: 1px solid colors.$gray-300;
	margin: 0 #{variables.$grid-unit-40 * -1} #{variables.$grid-unit-40 * -1};
	padding: variables.$grid-unit-20 variables.$grid-unit-40;
	position: absolute;
	bottom: variables.$grid-unit-40;
	width: 100%;
	height: $footer-height;
	background-color: colors.$white;
}

.font-library-modal__page-selection {
	font-size: 11px;
	font-weight: variables.$font-weight-medium;
	text-transform: uppercase;

	@include mixins.break-small() {
		.font-library-modal__page-selection-trigger {
			font-size: 11px !important;
			font-weight: variables.$font-weight-medium;
		}
	}
}

.font-library-modal__fonts-title {
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 600;
	margin-top: 0;
	margin-bottom: 0;
}

.font-library-modal__fonts-list {
	list-style: none;
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
}

.font-library-modal__fonts-list-item {
	margin-bottom: 0;
}

.font-library-modal__font-card {
	border: variables.$border-width solid colors.$gray-300;
	width: 100%;

	// Override the default 40px height set by the Button component.
	// Ref - https://github.com/WordPress/gutenberg/pull/65258#discussion_r1756147260
	height: auto !important;

	padding: variables.$grid-unit-20;
	margin-top: -1px; /* To collapse the margin with the previous element */

	&:hover {
		background-color: colors.$gray-100;
	}

	&:focus {
		position: relative;
	}

	.font-library-modal__font-card__name {
		font-weight: bold;
	}

	.font-library-modal__font-card__count {
		color: colors.$gray-700;
	}

	.font-library-modal__font-variant_demo-image {
		display: block;
		height: variables.$grid-unit-30;
		width: auto;
	}

	.font-library-modal__font-variant_demo-text {
		white-space: nowrap;
		flex-shrink: 0;

		@media not ( prefers-reduced-motion ) {
			transition: opacity 0.3s ease-in-out;
		}
	}
}

.font-library-modal__tablist-container {
	position: sticky;
	top: 0;
	border-bottom: 1px solid colors.$gray-300;
	background: colors.$white;
	margin: 0 #{variables.$grid-unit-40 * -1};
	padding: 0 variables.$grid-unit-20;
	z-index: 1;

	[role="tablist"] {
		margin-bottom: -1px;
	}
}

.font-library-modal__upload-area {
	align-items: center;
	display: flex;
	justify-content: center;

	// Override the default 40px height set by the Button component.
	// Ref - https://github.com/WordPress/gutenberg/pull/65258#discussion_r1756155039
	height: variables.$grid-unit-80 * 4 !important; // 256px

	width: 100%;
}

button.font-library-modal__upload-area {
	background-color: colors.$gray-100;
}

.font-library-modal__local-fonts {
	margin: 0 auto;
	width: 80%;

	.font-library-modal__upload-area__text {
		color: colors.$gray-700;
	}
}

.font-library__google-fonts-confirm {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: variables.$grid-unit-80;

	p {
		line-height: variables.$default-line-height;
	}

	h2 {
		font-size: 1.2rem;
		font-weight: 400;
	}

	.components-card {
		padding: variables.$grid-unit-20;
		width: 400px;
	}

	.components-button {
		width: 100%;
		justify-content: center;
	}
}

.font-library-modal__select-all {
	padding:
		variables.$grid-unit-20 variables.$grid-unit-20
		variables.$grid-unit-20 variables.$grid-unit-20 +
		variables.$border-width;

	.components-checkbox-control__label {
		padding-left: variables.$grid-unit-20;
	}
}
