@use "@wordpress/base-styles/colors" as *;
@use "@wordpress/base-styles/variables" as *;


.dataviews-bulk-actions-footer__item-count {
	color: $gray-900;
}

.dataviews-bulk-actions-footer__container {
	margin-right: auto;
	min-height: $grid-unit-40;
}
